<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="tickRate" value="5"/>
		<add key="maxJoltPerSecond" value="20"/>
		<add key="maxDisconnectTime" value="1"/>
		<add key="runType" value="1"/>
		<add key="controllerType" value="Xbox"/>
		<add key="coneOfCaring" value="y=(1/2)|x|"/>
		<add key="maxSpeed" value="10"/>
		<add key="maxAccelertionPercent" value="50"/>
		<add key="simulateEStopConttroller" value="1"/>
		<add key="simulateLidar" value="1"/>
		<add key="simulateRaspPi" value="1"/>
		<add key="simulateDatabase" value="1"/>
		<add key="simulateMotorController" value="1"/>
	</appSettings>
</configuration>